# Dependencies
node_modules
.pnpm-store

# Next.js build outputs
.next/
out/
build/

# Turborepo cache
.turbo

# Environment variables (Crucial for security)
.env
*.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# shadcn/ui (Optional: Keep if you want to track components, hide if you want a clean repo)
# components/ui


# Project specific

*project_cmd.txt
